.table-wrapper {
    position: relative;
    display: inline-block;
}
  
.table-number{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    padding: 5px;
    font-size: 50px;
    color: white;
}

.circle-red {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: red;
    display: inline-block;
}



  