<div class="container px-1 px-md-4 py-5 mx-auto">
    <div class="card">
        <div class="row d-flex justify-content-between px-3 top">
            <div class="d-flex">
                <h5>ORDEN <span class="text-danger font-weight-bold">#7TX03WY</span></h5>
            </div>
            <div class="d-flex flex-column text-sm-right">
                <p class="mb-0">Entrega estimada : <span> 🕘 9:00 pm </span></p>
                <!-- <p>USPS <span class="font-weight-bold">234094567242423422898</span></p> -->
            </div>
        </div>
        
        <!-- Add class 'active' to progress -->
        <div class="row d-flex justify-content-center">
            <div class="col-12">
            <ul id="progressbar" class="text-center">
                <li class="active step0 col-4"></li>
                <li class={{cookingState}}></li>
                <!-- <li class="active step0"></li> -->
                <li class={{deliveredState}}></li>
            </ul>
            </div>
        </div>

        <div class="row justify-content-between top">
            <div class="row d-flex icon-content">
                <img class="icon" src="assets/img/icons/order.png">
                <div class="d-flex flex-column">
                    <p class="font-weight-bold">Orden<br>Confirmada</p>
                </div>
            </div>
            <div class="row d-flex icon-content">
                <img class={{cookingClass}} src="assets/img/icons/cooking.png">
                <div class="d-flex flex-column">
                    <p class="font-weight-bold">Preparando<br>Pizzas</p>
                </div>
            </div>
            <!-- <div class="row d-flex icon-content">
                <img class="icon" src="https://i.imgur.com/TkPm63y.png">
                <div class="d-flex flex-column">
                    <p class="font-weight-bold">Order<br>En Route</p>
                </div>
            </div> -->
            <div class="row d-flex icon-content">
                <img class="icon" src="assets/img/icons/delivered.png">
                <div class="d-flex flex-column">
                    <p class="font-weight-bold">Orden<br>Entregada</p>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-between top">

            <div class="col">
                <h3 style="padding-bottom: 10px;text-decoration: underline;" > Detalles : </h3>

                <hr>

                <div *ngFor="let pizza of shoppingCart" >
                    {{ pizza.name }} - Cantidad: {{ pizza.amount }} - Tamaño: {{ pizza.size }}
                </div>  
                
                <hr>

                <div>
                    <h4 style="padding-top: 20px;text-decoration: underline;"> Comentarios :</h4>
                    <label> {{this.comments}} </label>
                </div>
            </div>


        </div>

    </div>
</div>