@import "~@fortawesome/fontawesome-free/css/all.css";


.pizzas-row {
    display: flex; /* Utiliza flexbox para alinear los elementos en una fila */
    flex-wrap: nowrap; /* Evita que los elementos se ajusten a nuevas líneas */
    overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si es necesario */
}

.imagenPizza
{
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}

.btnAddCart
{
    margin-top: 20px;
    margin-bottom: 60px;
}

/* Estilos personalizados para el botón */
.btn-cerrar {
    background: none; /* Elimina el fondo */
    border: none; /* Elimina el borde si lo hubiera */
    color: gray; /* Cambia el color del icono a rojo o el color que desees */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    padding: 0; /* Elimina el espacio interior del botón */
}

/* Estilos para el icono (opcional) */
.btn-cerrar .fas {
    font-size: 24px; /* Cambia el tamaño del icono si es necesario */
}
